<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="~/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="~/admin/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <!-- CSS DATATABLE -->
    <link href="~/admin/css/layout-datatable.css" rel="stylesheet" type="text/css" />
</head>
<!--
    .boxed = boxed version
-->
<body>


    <!-- WRAPPER -->
    <div id="wrapper">


        <aside id="aside">

            <nav id="sideNav">

                <!-- MAIN MENU -->
                <ul class="nav nav-list">

                    <li>
                        <!-- dashboard -->
                        <a class="dashboard" href="~/dashboard">
                            <!-- warning - url used by default by ajax (if eneabled) -->
                            <i class="main-icon fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <!-- dashboard -->
                        <a class="dashboard" href="~/dashboard/library">
                            <!-- warning - url used by default by ajax (if eneabled) -->
                            <i class="main-icon fa fa-book"></i> <span>Library</span>
                        </a>
                    </li>
                    <li>
                        <!-- dashboard -->
                        <a class="dashboard" href="~/dashboard/users">
                            <!-- warning - url used by default by ajax (if eneabled) -->
                            <i class="main-icon fa fa-users"></i> <span>Users</span>
                        </a>
                    </li>
                    
                </ul>


            </nav>

            <span id="asidebg"><!-- aside fixed background --></span>
        </aside>

        <!-- /ASIDE -->

        <!-- HEADER -->
        <header id="header">

            <!-- Mobile Button -->
            <button id="mobileMenuBtn"></button>

            <!-- Logo -->
            <span class="logo pull-left">
                <img src="~/admin/images/logo_light.png" alt="admin panel" height="35" />
            </span>

            <form method="get" action="page-search.html" class="search pull-left hidden-xs">
                <input type="text" class="form-control" name="k" placeholder="Search for something..." />
            </form>

            <nav>

                <!-- OPTIONS LIST -->
                <ul class="nav pull-right">

                    <!-- USER OPTIONS -->
                    <li class="dropdown pull-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img class="user-avatar" alt="" src="~/admin/images/noavatar.jpg" height="34" />
                            <span class="user-name">
                                <span class="hidden-xs">
                                    @User.GetName() <i class="fa fa-angle-down"></i>
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu hold-on-click">
                            <li>
                                <!-- logout -->
                                <a href="~/account/logout"><i class="fa fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- /USER OPTIONS -->

                </ul>
                <!-- /OPTIONS LIST -->

            </nav>

        </header>
        <!-- /HEADER -->
        <!--
            MIDDLE
        -->
        <section id="middle">

            <div id="content" class="padding-20">

                @RenderBody()

            </div>
        </section>
        <!-- /MIDDLE -->

    </div>



    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = window.location.origin + '/admin/plugins/';</script>
    <script type="text/javascript" src="~/admin/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/admin/js/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>