@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="page-header">
    <div class="container">

        <h1>LOGIN</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li class="active">Login</li>
            <li class=""><a href="~/account/register">Register</a></li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->
<section>
    <div class="container">

        <div class="row">

            <!-- LOGIN -->
            <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6" style="min-height:55vh;">

                <!-- login form -->
                <form action="/account/index" method="post" class="sky-form boxed">

                    <header class="size-18 margin-bottom-20">
                        I'm a returning customer
                    </header>

                    <fieldset class="nomargin">

                        <label class="input margin-bottom-10">
                            <i class="ico-append fa fa-envelope"></i>
                            <input required type="email" name="email" value="@Model?.Email" placeholder="Email address">
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                        </label>

                        <label class="input margin-bottom-10">
                            <i class="ico-append fa fa-lock"></i>
                            <input required type="password" name="password" placeholder="Password">
                            <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                        </label>

                        <div class="clearfix note margin-bottom-30">
                            <a class="pull-right" href="#">Forgot Password?</a>
                        </div>

                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary noradius pull-right"><i class="fa fa-check"></i> OK, LOG IN</button>
                    </footer>

                </form>
                <!-- /login form -->
                @{
                    if (!string.IsNullOrEmpty(Model?.Message))
                    {
                        <!-- ALERT -->
                        <div class="alert alert-mini alert-danger margin-bottom-30">
                            @Model.Message
                        </div><!-- /ALERT -->
                    }
                }

            </div>
            <!-- /LOGIN -->

        </div>


    </div>
</section>
<!-- / -->